@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    font-family: Muli, sans-serif;
    display: flex;
    padding: 20px;
    background: white;
    justify-content: center;
}

.container {
    display: flex;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    padding: 100px;
}

.container_one {
    display: flex;
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg, #F3EFD5 0%, #E4C9A3 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px 0px 0px 15px;
}

.container_one .logo {
    margin: auto;
}

.container_one .logo img {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.container_one .logo h3 {
    text-align: center;
}

.container_child {
    display: block;
    width: 400px;
    height: 500px;
    background-color: #F8F8F8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0px 15px 15px 0px;
}

.container_child .options {
    display: flex;
}

.container_child .options p {
    padding: 10px;
}

.container_child .options a {
    color: black;
    text-decoration: none;
}

.container_child .options #register {
    color: gray;
}

.container_child .options #register:hover {
    color: black;
}

.line hr {
    width: 380px;
    height: 1px;
    background-color: rgb(180, 180, 180);
    margin-right: auto;
    margin-left: auto;
    border: none;
}

.place_nav span {
    display: block;
    background: #A04410;
    width: 50px;
    height: 2px;
    margin-left: 10px;
}

.container_child .form {
    display: grid;
    border: none;
    margin: 50px 64px 20px 64px;
    height: 290px;
    align-content: center;
}

.container_child .form h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.container_child .form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 250px;
    font-size: 15px;
}

.container_child .form button {
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: black;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: Muli, sans-serif;
    font-size: 15px;
}

.container_child .form .button {
    display: flex;
    justify-content: center;
}

.container_child button:hover {
    cursor: pointer;
    background: #323232;
}

.container_child .recover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_child .recover a {
    color: blue;
}

.container_child .recover a:hover {
    cursor: pointer;
}

.container_child .recover #key {
    display: flex;
    width: 24px;
    padding: 5px;
    margin-top: 20px;
}

.container_child .recover .recover_user_pass {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}